.statistics {
	padding: 0 2rem;

	@media (max-aspect-ratio: 1/1) {
		flex-direction: column;
		padding: 0 1rem;
	}
}
.statsGrid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}

.iconGroup {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}
